<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Class Comments Page</title>
</head>
<body>
<h2>Class Comments</h2><br>
<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <label>Course ID:</label>
   <label id = "id" ></label>
    <TR>
       <TH COLSPAN="2"><BR><H3>Course List</H3>
       </TH>
    </TR>
    <TR>
       <TH>Date</TH>
       <TH>Comment</TH>
       
    </TR>
    <TR ALIGN="CENTER" >
       <TD>Temp Date </TD>
       <TD >This is a temperary review</TD>
       
    </TR>
 </TABLE>


</body>
</html>