<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Class Comments Page</title>
</head>
<body>
<h2>Class Comments</h2><br>
<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <label>Course ID:</label>
   <label id = "id" th:text = "${cid}"></label>
    <TR>
       <TH COLSPAN="2"><BR><H3>Comments List</H3>
       </TH>
    </TR>
    <TR>
       <TH>Date</TH>
       <TH>Comment</TH>
       
    </TR>
    <TR ALIGN="CENTER" th:each = "com : ${comments}">
       <TD th:text="${com.date}"></TD>
       <TD th:text="${com.review}"></TD>
    </TR>
 </TABLE>

 <form th:action="@{/course/comments/create}" method="Post">
    <input type = "hidden" th:name = "cid" id = "cid" th:value = ${cid}>
    
    <input type = "text" th:name = "content">
    <input type = "submit" value="Submit">
 </form>

</body>
</html>