<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Manage Class Page</title>
</head>
<body>
<h2>Manage my Classes</h2><br>
<TABLE BORDER="6"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <label>Student ID:</label>
   <label id = "id" ></label>
   <script type="text/javascript">
       function processUser()
       {
         var parameters = location.search.substring(1).split("&");
         var temp = parameters[0].split("=");
         var l = unescape(temp[1]);
         document.getElementById('id').innerHTML = l;
         console.log(l);
       }
       processUser()
    </script>
    <TR>
       <TH COLSPAN="7"><BR><H3>Registered Courses</H3>
       </TH>
    </TR>
    <TR>
      <TH>Number</TH>
       <TH>Course Name</TH>
       <TH>Course ID</TH>
       <TH>Start Time</TH>
       <TH>End Time</TH>
       <TH>Option</TH>
       <TH>Comment</TH>

   

    </TR>
    <TR ALIGN="CENTER" th:each="t,iter : ${curList}" >
      <TD th:text = ${iter.index+1}></TD>
      <TD th:text="${t.courseName}"></TD>
      <TD th:text="${t.courseid}" id = "dcid"></TD>
      <TD th:text="${t.StartTime}"></TD>
      <TD th:text="${t.EndTime}"></TD>
      <TD>
      <form th:action="@{/student/dropCourse}" method="Post">
      <input type = "hidden" th:name = "id" th:value = ${sid}>
          <input type = "hidden" th:name = "cid" th:value = ${t.courseid}> 
          
         <input type="submit" value="Drop">
      </script>
      </form>

      </TD>

      <TD>
         <form th:action="@{/course/comments/all}" method="Get">
             <input type = "hidden" th:name = "cid" th:value = ${t.courseid}> 
             
            <input type="submit" value="Reviews">
         </script>
         </form>
   
         </TD>

   </TR>
 </TABLE>

<br></br>

<Table BORDER="6"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">

   <TR>
      <TH COLSPAN="6"><BR><H3>Courses Available</H3>
      </TH>
   </TR>
   <TR>
      <TH>Course Name</TH>
      <TH>Course ID</TH>
      <TH>Start Time</TH>
      <TH>End Time</TH>
      <TH>Option</TH>
      <TH>Comment</TH>

   </TR>
   <TR ALIGN="CENTER" th:each="t, iter : ${allCourse}" >

   <TD th:text="${t.courseName}"></TD>
   <TD th:text="${t.courseid}" id = "cid"></TD>
   <TD th:text="${t.StartTime}"></TD>
   <TD th:text="${t.EndTime}"></TD>
   <TD>
   <form th:action="@{/student/addCourse}" method="POST">
   <input type = "hidden" th:name = "id" th:value = ${sid}>
   <input type = "hidden" id = "addcid" th:name = "cid" th:value = ${t.courseid}> 
      <input type="submit" value="Add">
   
   </form>

   </TD>
   <TD>
      <form th:action="@{/course/comments/all}" method="Get">
          <input type = "hidden" th:name = "cid" th:value = ${t.courseid}> 
         <input type="submit" value="Reviews">
      </script>
      </form>

      </TD>

   </TR>
</TABLE>




</body>
</html>