<!DOCTYPE html>    
<html xmlns="=http://thymeleaf.org">


<head>
    <h1>My Home Page</h1>
    <link rel="stylesheet" type="text/css"href="homepage.css">
</head>
<body>
    <input type="button" name="StudentProfile" id="StudentProfile" value="Student Profile">
    <input type="button" name="StudentAccount" id="StudentAccount" value="Student Account">
    <input type="button" name="ClassManagement" id = "ClassManagement"value="Manage Class">
    <input type="button" name="MyTask" id = "MyTask"value="My Task">
</body>

























</html>