<!DOCTYPE html>    
<html xmlns="=http://thymeleaf.org">



<head>
    <h1>My Home Page</h1>
</head>
<body>
<label>Welcome!</label>

    <br></br>
    <form th:action="@{/student/info}" method="get">
        <input type="submit" value="Student Profile">
    </form>
    <br></br>
    <form th:action="@{/course/info}" method="get">
      <input type="submit" value="My Course">
  </form>
    <br></br>
    <form th:action="@{/student/mytuition}" method="get">
      <input type="submit" value="My Tuition">
  </form>
    <br></br>

    <form th:action="@{/task/getTaskInfo}" method="get">
        <input type="submit" value="My Task">
    </form>
    
    
    
</body>

























</html>