<!DOCTYPE html>    
<html xmlns="=http://thymeleaf.org">


<head>
    <h1>My Task</h1>
</head>
<body>
<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <label>Student ID:</label>
   <label id = "id" ></label>
   <script type="text/javascript">
       function processUser()
       {
         var parameters = location.search.substring(1).split("&");
         var temp = parameters[0].split("=");
         var l = unescape(temp[1]);
         document.getElementById('id').innerHTML = l;
         console.log(l);
       }
       processUser()
    </script>
    <TR>
       <TH COLSPAN="2"><BR><H3>ToDo List</H3>
       </TH>
    </TR>
    <TR>
       <TH>TaskID</TH>
       <TH>Description</TH>
    </TR>
    <TR ALIGN="CENTER" th:each="t, iter : ${task.taskList}">
       <TD th:text = ${iter.index+1}></TD>
       <TD th:text="${t}"></TD>
       
    </TR>
 </TABLE>
</body>
</html>
