<!DOCTYPE html>    
<html xmlns="=http://thymeleaf.org">


<head>
    <h1>My Task</h1>
    <link rel="stylesheet" type="text/css"href="homepage.css">
</head>
<body>
<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
    <TR>
       <TH COLSPAN="3"><BR><H3>ToDo List</H3>
       </TH>
    </TR>
    <TR>
       <TH>TaskID</TH>
       <TH>Description</TH>
       <TH>Status</TH>
    </TR>
    <TR ALIGN="CENTER">
       <TD>Data 1</TD>
       <TD>Data 2</TD>
       <TD>Data 3</TD>
    </TR>
 </TABLE>
</body>
</html>