<!DOCTYPE html>    
<html xmlns="=http://thymeleaf.org">


<head>
    <h1>Student Account</h1>
    
</head>
<body>
<TABLE BORDER="4"    WIDTH="50%"   CELLPADDING="3" CELLSPACING="2">
    <TR>
       <TH COLSPAN="3"><BR><H3>Account Summary</H3>
       </TH>
    </TR>
    <TR>
       <TH>Account Balance</TH>
       <TH>Scholarship</TH>
       <TH>Remaining Balance</TH>
       
    </TR>
    <TR ALIGN="CENTER">
       <TD id = "tui" th:text = ${tuition}></TD>
       <TD id = "scho" th:text = ${scholarship}></TD>
       <TD id = "total"></TD>
       <script type="text/javascript">
         function calc()
         {
           var tuition = document.getElementById('tui').textContent;
           var scholarship = document.getElementById('scho').textContent;
           document.getElementById('total').innerHTML = tuition - scholarship;
         }
         calc()
      </script>

       
       
    </TR>
 </TABLE>
</body>
</html>