<!DOCTYPE html>    
<html xmlns="=http://thymeleaf.org">


<head>
    <h1>Student Account</h1>
    
</head>
<body>
<TABLE BORDER="4"    WIDTH="50%"   CELLPADDING="3" CELLSPACING="2">
    <TR>
       <TH COLSPAN="3"><BR><H3>Account Summary</H3>
        <h4>Student ID:</h4>
        
       </TH>
    </TR>
    <TR>
       <TH>Account Balance</TH>
       <TH>Anticipated Financial Aid</TH>
       <TH>Remaining Balance</TH>
       
    </TR>
    <TR ALIGN="CENTER">
       <TD>Data 1</TD>
       <TD>Data 2</TD>
       <TD>Data 3</TD>
    </TR>
 </TABLE>
</body>
</html>